<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify email</title> 
    <script src="https://kit.fontawesome.com/a443185dcf.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=K2D' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <div>
        <div style="background: #1A65A4;">
            <header>
                <div class="toolbarcontainer"> 
                    <img
                        src="/img/logo.png"
                        alt="profile picture"    
                    ></img>
                </div>
            </header>
        </div>
        <div class="divmain">
            <div class="maincontainer">
                <div class="viewcontainer">
                        <div class="boxcontainer">
                            <p class="textdefault" style="text-align: center;">
                                <%= message %>
                            </p>
                            <input
                                type="password"
                                placeholder="Password*"
                                class="inputtext"
                                id = "password"
                                required
                                />
                        </div>
                    </div>
            </div>
        </div>
    </div>
</body>
</html>