body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif,'K2D';
  background-color:#ffffff;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#afooter:hover {
  color: #03315a;
}
#afooter{
  color: white;
  font-family:"K2D"; 
  text-decoration: none;
}

#aheader:hover {
  color: #1A65A4;
  text-decoration: none;
}
#aheader{
  color: black;
  font-family:"K2D"; 
  text-decoration: none;
}